/* Fonts Star */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700&display=swap');
/* Fonts End */


/* Variables Start */

:root {
    --main-color: #2fe0d7;
    --green-sifi: #5af5ff21;
    /* --main-color: #e02f6b; */
    --blue: #0000ff;
    --blue-dark: #18293c;
    --cyan-dark: #0f9b94;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px)
}

/* Variables Ends */


/* Global Settings Start*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;

}

/* Global Settings Ends*/


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 300;
    background-color: #091214;
    outline: none;
}

/* .mask-custom {
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.25);
  } */

.dg {
    display: none;
}

.border {
    border: 2px solid red;
}

h2 {

    font-size: 20px;
    font-family: 'Poppins', sans-serif !important;
    text-transform: capitalize;
    font-weight: 100;
    margin: 0 0 30px;
    color: white;
}

p {
    font-size: 18px;
}

h1 {
    font-size: 40px !important;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
}




/* Buttons */


.btn-glow:hover {
    /* background-color: var(--main-color); */
    color: var(--white);
    box-shadow: 0 0 20px var(--main-color),
        inset 0 0 0px var(--main-color);

}




/* ---------------------------
 Buttons 
 -----------------------------*/
button {
    font-family: inherit;
    user-select: none;
}

.btn {
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 11px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;

}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;

}

.btn:hover::before {
    width: 100%;
}

.btn:hover {
    color: var(--white);
}




/* Buttons */


.blinking-cursor {

    user-select: none;
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {

    from,
    to {
        visibility: hidden;
    }

    20% {
        visibility: visible;
    }
}



#loader {
    /* Uncomment this to make it run! */
    /*
       animation: loader 5s linear infinite; 
    */

    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
}

@keyframes loader {
    0% {
        left: -100px
    }

    100% {
        left: 110%;
    }
}

#box {
    width: 50px;
    height: 50px;
    background: #fff;
    color: var(--white);
    box-shadow: 0 0 20px var(--main-color),
        inset 0 0 0px var(--main-color);
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

#shadow {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

@keyframes shadow {
    50% {
        transform: scale(1.2, 1);
    }
}



/* ---------------------------
 About Section Start
 -----------------------------*/

.about-img {
    /* background-color: red; */
    width: 100%;
    padding: 0 15px;
}

.about-text {
    /* background-color: green; */
    /* width: 60%;
    padding: 0 15px; */
}

.about-img .img-box {
    background-color: rgb(59 113 202 / 26%);
    max-width: 300px;
    border: 1px solid var(--main-color);
    margin: auto;
    border-radius: 10px;
}

.about-img .img-box img {
    width: 100%;
}

.about-text h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .skills {
    display: flex;
    flex-wrap: wrap;

}

.about-text .skill-item {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--main-color);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}

.about-tabs {
    margin-top: 20px;
}

.about-tabs .tab-item {
    padding: 2px 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: var(--cyan-dark);
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child {
    margin: 0;
}

.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: var(--cyan-dark);
    transition: width 0.3s ease;
}

.about-tabs .tab-item:hover:before {
    width: 100%;
}

.about-tabs .tab-item.active::before {

    width: 100%;
    background-color: var(--main-color);
}

.about-tabs .tab-item.active {
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
}

/* About Timeline */

.about-text .timeline {
    position: relative;
}

.about-text .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 5px;
    background-color: var(--main-color);
}

.about-text .tab-content {
    padding: 40px 0;
    display: none;
}

.about-text .tab-content.active {
    display: block;
}

.about-text .timeline-item {
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}

.about-text .timeline-item::before {
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: var(--main-color);
    left: 0;
    top: 16px;
    border-radius: 50%;
}

.about-text .timeline-item:last-child {
    margin-bottom: 0;
}

.about-text .timeline-item .date {
    display: block;
    color: var(--main-color);
    font-weight: 400;
    margin: 0 0 10px;
}

.about-text .timeline-item h4 {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}

.about-text .timeline-item h4 span {
    font-weight: 400;
}

.about-text .btn {
    margin: 0 15px 15px 0;
}


.custom-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.custom-scroll::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #aef1ee;
    border: 2px solid #aef1ee;
    border-radius: 20px;
}

/* ---------------------------
 About Section End
 -----------------------------*/


/* ---------------------------
 Bottom TopNavigation Start
 -----------------------------*/



#BottomNav ul {
    margin: auto;
    height: 10px;
    width: 300px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#BottomNav li {
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border-radius: 100%;
}

#BottomNav .li-glow {
    background: rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
        0px 0px 10px 2px rgba(0, 255, 135, 1);

    -webkit-animation: pulse 1s alternate infinite;
    -moz-animation: pulse 1s alternate infinite;

}

#BottomNav li {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
        0px 0px 10px 2px rgba(0, 255, 135, 0.3);

}

@-webkit-keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
            0px 0px 5px 2px rgba(0, 255, 135, 0.3);
    }

    100% {
        background: rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
            0px 0px 15px 2px rgba(0, 255, 135, 1);
    }
}

@-moz-keyframes pulse {
    0% {
        background: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
            0px 0px 5px 2px rgba(0, 255, 135, 0.3);
    }

    100% {
        background: rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 10px 2px rgba(0, 255, 182, 0.5),
            0px 0px 15px 2px rgba(0, 255, 135, 1);
    }
}





/* ---------------------------
 Bottom TopNavigation End
 -----------------------------*/



/* ---------------------------
 Work Start
 -----------------------------*/


.scicard::before {
    content: '';
    position: absolute;
    width: 120%;
    top: 0;
    left: 50%;
    height: 0px;
    background-color: #5af5ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 1;
}

.bg {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    background: #5af5ff21;
}

/* .bg:hover{
    background-color: #5af4ff5d;
    transition: top 1.5s;
    cursor: pointer;
} */

.card-btn {
    border-radius: 20px 0px 20px 0px;
}

.bg::before {
    content: '';
    /* position: absolute; */
    top: 50%;
    left: 50%;
    width: calc(100% - 5px);
    height: calc(100% - 6px);
    clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 100%, 0 85%);
    background: linear-gradient(180deg, rgba(0, 255, 209, 0.098) 0%, rgba(123, 247, 255, 0.03) 100%), #0C0C0C;
}

.bg::after {
    content: '';
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #5af5ff;
}

/* .scicard:hover .bg::after{
    height: 100%;
    transition: 1.5s;
}

.scicard:hover::before{
    height: 5px;
    top: 100%;
    transition: top 1.5s;
    animation: hide .5s 1.5s forwards 1;
} */

/* @keyframes hide{
    100%{
        width: 0;
        opacity: 0;
    }
}

.scicard:hover{
    transform: translateY(-40px);
} */

.content {
    position: relative;
    z-index: 3;
    padding: 40px;
}

.sciheading {
    text-align: center;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif !important;
    font-size: 24px !important;
    color: none;
    -webkit-text-stroke: 1px #5af5ff;
    margin-bottom: 30px;
    margin-top: 20px;
}

.info {
    font-family: 'roboto', sans-serif;
    color: #5af5ff;
    text-align: center;
    line-height: 25px;
}

/* .scicard:hover .info{
    transition: .5s;
    transition-delay: 1.5s;
    color: #000;
} */

.img-border {
    border: 2px solid var(--main-color);
    border-radius: 0px 70px 0px 70px;
}


/* ---------------------------
 Work End
 -----------------------------*/





/* ---------------------------
 Contact us Start
 -----------------------------*/






/* ---------------------------
 Contact us  End
 -----------------------------*/







.contact-form {
    /* background-color: red; */
}

.contact-info {
    /* background-color: green; */
}

.contact-form,
.contact-info {
    padding: 0 15px;
}

.contact-form .input-group {
    width: 100%;
    margin-bottom: 30px;
}

.contact-form .input-control::placeholder {
    color: var(--blue-dark);
    opacity: 0.8;
    font-weight: 300;
}

.contact-form .input-control {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    background-color: #5af5ff21;
    padding: 0 20px;
    color: var(--main-color);
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.contact-form .input-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--cyan-light);
    opacity: 1;
    /* Firefox */
}



.contact-form .input-control:focus {
    border-color: var(--main-color);
}

.contact-form textarea.input-control {
    height: 120px;
    resize: none;
    padding-top: 15px;
}



.contact-info-item {

    margin: 0 0 30px;
    padding: 0 0 0 20px;
}

.contact-info-item h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.contact-info-item .social-links {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    color: var(--main-color);
    border-radius: 50%;
    margin: 6px 4px 0 0;
    transition: all 0.3s ease;
}

.contact-info-item .social-links:hover {
    color: var(--white);
    background-color: var(--main-color);
}



/* ------------------------------------
Top TopNavigation Section Start
---------------------------------------*/

.TopNav,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TopNav {
    position: absolute;
    background-color: #0a21297c;
    padding: 10px;
    border: 1px solid var(--main-color);
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.TopNav input:checked~.menu {
    width: 330px;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: var(--cyan-dark);
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.menu li a:hover {
    color: var(--cyan-light);
}

.TopNav input {
    width: 25px;
    height: 20px;
    cursor: pointer;
    opacity: 0;
}

.TopNav span {
    position: absolute;
    left: 15px;
    width: 15px;
    height: 3px;
    border-radius: 50px;
    background-color: var(--main-color);
    pointer-events: none;
    transition: 0.5s;
}

.TopNav input:checked~span {
    background-color: #f974a1;
}

.TopNav span:nth-child(2) {
    transform: translateY(-8px);
}

.TopNav input:checked~span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.TopNav span:nth-child(3) {
    transform: translateY(8px);
}

.TopNav input:checked~span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.main-nav {
    position: relative;
    margin-top: -30px;
    margin-left: -20px;
}

.active-nav{
    color: var(--main-color) !important;
}

/* ------------------------------------
Top TopNavigation Section End
---------------------------------------*/








/* Mobile CSS */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 20px !important;
        text-transform: capitalize;
        font-family: 'Poppins', sans-serif !important;
        font-weight: 400;
    }

    .info-contain {
        text-align: center;
    }

    .dp-arc-inner {
        left: 40px !important;
        top: -6px !important;
        width: 65% !important;
        height: 105% !important;
    }

    .dp-arc-outer {
        left: 25px !important;
    }

    .about-img {
        display: none;
    }

    .contact-info-item h3 {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
    }

    .contact-info-item p {
        font-size: 12px;
        text-align: center;
    }

    .social-icons {
        text-align: center;
    }

    .submit-btn {
        text-align: center;
    }

    #MainCard {
        height: 80vh !important;
    }

    .sciheading {
        margin-top: 20px;
        font-size: 20px !important;
    }

    .img-border {
        border-radius: 0px 50px 0px 50px;
    }

    #CarouselRow {
        height: 60vh !important;
    }

    .abountInfo {
        height: 400px !important;
    }

    .about-tabs .tab-item {
        font-size: 18px;
        margin: 0 30px 0 0;
        ;
    }
    .about-text .btn {
        margin: 0px 0px 10px 0px !important;
    }
    .HomeBtn{
        font-size: 14px !important;
    }
    .WorkSection{
        height: 390px !important;
    }

    .TopNav input:checked~.menu {
        width: 250px;
    }
    .menu li {
        list-style: none;
        margin: 0 5px;
        font-size: 14px;
    }

}